a {
  text-decoration: none;
}

header {
  margin: 1% 2% 10% 2%;
  display: flex;
}

.navtop {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.logo {
  width: 20%;
  margin: 0;
  padding: 10px;
  display: flex;
}

.DownlandButton {
  width: 20%;
  margin: 0;
  padding: 20px;
  display: flex;
  background-color: black;
  border: solid black 1px;
  border-radius: 25px;
}

.DownlandButton a {
  color: white;
  text-align: center;
  margin: auto;
}

.Menu a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px;
  margin: 2%;
  float: left;
}

.Menu {
  margin: 0;
  width: 50%;
  margin-left: 10%;
}

.top_text_box {
  float: left;
  width: 25%;
  margin: 0 2% 5% 2%;
  height: 500px;
}

.top_text_box h1 {
  font-size: 60px;
}

.gallery {
  float: right;
  width: 50%;
  height: 50em;
  margin-left: 6%;
  border: solid black 3px;
}

.tutorial {
  position: relative;
  bottom: 6em;
  width: 60%;
  margin: 0 0 5% 2%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.tutorial div {
  border-radius: 13px;
  display: flex;
  width: 400px;
  padding: 10px;
  justify-content: center;
  margin-right: 1em;
  color: white;
  background-color: black;
  box-shadow: inset 10px 20px 30px 5px #e78506, inset -10px -20px 30px 5px #e78506;
}

.tutorial div p {
  margin-right: 2em;
}

.statistics {
  display: block;
  margin: auto;
  height: 5%;
  width: 100%;
  position: relative;
  top: 500px;
}
